<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--
<suite name="Suite" parallel="tests" thread-count="1" >
 -->

<suite name = "Suite">

    <!---->
    <!--<test name = "Prestigio">-->
        <!--<parameter name="deviceName_" value="Prestigio"/>-->
        <!--<parameter name="UDID_" value="MTPB0252700596"/>-->
        <!--<parameter name="platformVersion_" value="4.2.2"/>-->
        <!--<parameter name="URL_" value="127.0.0.1:1234/wd/hub"/>-->
        <!--<classes>-->
            <!--&lt;!&ndash;<class name="registration.positive"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="Suits.Smoke"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="testCases.C42098_Login_to_the_existing_account"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="testCases.C42099_Add_new_Hub_manually"/>&ndash;&gt;-->
            <!--<class name="testCases.C42100_Add_new_room"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!---->

    <test name="LG">
        <parameter name="deviceName_" value="LG"/>
        <!--<parameter name="UDID_" value="SWIVR8YHDI7TYTS8"/>-->
        <!--<parameter name="platformVersion_" value="5.1"/>-->
        <classes>
            <!--<class name="testCases.C42100_Add_new_room"/>-->
            <!--<class name="testCases.C42102_Add_new_guest_user"/>-->
            <!--<class name="testCases.C42176_Virtual_Space_Control"/>-->
            <!--<class name="testCases.C43875_Add_new_device"/>-->
            <!--<class name="testCases.C42097_New_user_registration"/>-->
            <!--<class name="testCases.C44141_User_delete"/>-->
            <!--<class name="testCases.C44142_Device_delete"/>-->
            <class name="testCases.C44143_Room_delete"/>
        </classes>
    </test>
    <!---->
    <!--<test name="Xiaomi">-->
        <!--<parameter name="deviceName_" value="Xiaomi"/>-->
        <!--<parameter name="UDID_" value="81c6da4a7d63"/>-->
        <!--<parameter name="platformVersion_" value="6.0.1"/>-->
        <!--<classes>-->
            <!--<class name="tmp.popUp"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!---->
    <!--<test name="JiaYu">-->
        <!--<parameter name="deviceName_" value="JiaYu"/>-->
        <!--<parameter name="UDID_" value="0123456789ABCDEF"/>-->
        <!--<parameter name="platformVersion_" value="4.2.1"/>-->
        <!--<classes>-->
            <!--<class name="tmp.popUp"/>-->
        <!--</classes>-->
    <!--</test>-->


</suite> <!-- Suite -->