<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--
<suite name="Suite" parallel="tests" thread-count="1" >
 -->

<suite name = "Suite" parallel= "false">

    <parameter name="deviceName_" value="LG"/>

    <test name="LG - Registration and adding artifacts">
        <classes>
            <!--<class name="Registration.C50111_Positive_Registration"/>-->
            <!--<class name="Registration.C50112_Negative_Registration"/>-->
            <class name="Registration.C52065_Check_Registration_Fields_Negative"/>
            <!--<class name="Smoke.C46174_New_user_registration"/>-->
            <!--<class name="Smoke.C46176_Add_new_Hub_manually"/>-->
            <!--<class name="Smoke.C46180_Add_new_guest_user"/>-->
            <!--<class name="Smoke.C46177_Add_new_room"/>-->
            <!--<class name="Smoke.C46178_Add_new_device"/>-->
        </classes>
    </test>

    <test name="LG - Login">
        <classes>
            <!--<class name="Login.C46225_Negative_Login"/>-->
            <!--<class name="Login.C46224_Positive_Login"/>-->
        </classes>
    </test>

    <test name="LG - Security">
        <classes>
            <!--<class name="Smoke.C46179_Virtual_Space_Control"/>-->
        </classes>
    </test>

    <test name="LG - Deleting all artifacts">
        <classes>
            <!--<class name="Smoke.C46182_Device_delete"/>-->
            <!--<class name="Smoke.C46181_User_delete"/>-->
            <!--<class name="Smoke.C46183_Room_delete"/>-->
            <!--<class name="Smoke.C46184_Hub_delete"/>-->
        </classes>
    </test>



    <!--<test name="LG">-->
        <!--<parameter name="deviceName_" value="LG"/>-->
        <!--<classes>-->
            <!--<class name="testCases.C42097_New_user_registration"/>-->
            <!--<class name="testCases.C42098_Login_to_the_existing_account"/>-->
            <!--<class name="testCases.C42099_Add_new_Hub_manually"/>-->
            <!--<class name="testCases.C42100_Add_new_room"/>-->
            <!--<class name="testCases.C42102_Add_new_guest_user"/>-->
            <!--<class name="testCases.C42176_Virtual_Space_Control"/>-->
            <!--<class name="testCases.C43875_Add_new_device"/>-->
            <!--<class name="testCases.C44141_User_delete"/>-->
            <!--<class name="testCases.C44142_Device_delete"/>-->
            <!--<class name="testCases.C44143_Room_delete"/>-->
            <!--<class name="testCases.C44144_Hub_delete"/>-->
            <!--<class name="Login.C46224_Positive_Login"/>-->
            <!--<class name="Login.C46225_Negative_Login"/>-->
            <!--<class name="tmp.dataProvider"/>-->
        <!--</classes>-->
    <!--</test>-->


    <!---->
    <!--<test name = "Prestigio">-->
    <!--<parameter name="deviceName_" value="Prestigio"/>-->
    <!--<classes>-->
    <!--</classes>-->
    <!--</test>-->
    <!---->


    <!---->
    <!--<test name="Xiaomi">-->
        <!--<parameter name="deviceName_" value="Xiaomi"/>-->
        <!--<classes>-->
        <!--</classes>-->
    <!--</test>-->
    <!---->


    <!--<test name="JiaYu">-->
        <!--<parameter name="deviceName_" value="JiaYu"/>-->
        <!--<parameter name="UDID_" value="0123456789ABCDEF"/>-->
        <!--<parameter name="platformVersion_" value="4.2.1"/>-->
        <!--<classes>-->
        <!--</classes>-->
    <!--</test>-->


</suite>